@model SportsPro.Models.Technicians
@{
    ViewData["Title"] = "Index";
}

<h1>Technician</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Incidents">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select name="ddl" asp-for="TechnicianId" class="form-control" asp-items="ViewBag.TechnicianId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Select" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


